

<h2> | <em>Reminders for</em> |</h2>
<h1><%= current_user.username %></h1>
<hr>

<ul class="users">
  <% @reminders.each do |reminder| %>
    <li>
      <strong> Reminder |   <%= reminder.title %><strong> <br>
      <strong> Description |   <%= reminder.description %><strong> <br>
      <strong> Priority |   <%= reminder.priority %><strong>
    </li>
  <% end %>
</ul>
